.Navbar{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
}
.hamburger-icon{
  width: 40px;
  height: 40px;
}
.info-icon{
  width: 32px;
  height: 35px;
  margin-top: 2px;
}
.search-box{
    flex: 1;
    height: 36px;
    font-size: 16px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
    align-items: left;
    font-family: roboto, arial;
    font-size: 16px;
    opacity: 0.9;
    backdrop-filter: blur(2px) brightness(60%) contrast(40%);
    -webkit-backdrop-filter: blur(2px) brightness(60%) contrast(40%);
}
.left-section{
  width: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px
}
.middle-section{
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-left: -10px;
}
.search-icon{
  height: 25px;
  margin-top: 4px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.search-button,
.hamburger-button,
.info-button{
  cursor: pointer;
}
.search-button:active{
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.30);
}
.hamburger-button,
.info-button{
  background-color: transparent;
  border-color: transparent;
}
.info-button{
  margin-left: -9px;
}
.drop-down-menu {
  width: 160px;
  position: absolute;
  background-color: white;
  top: 0; /* Changed initial top value */
  left: 30px;
  transform: translateY(-100%); /* Adjusted transform property */
  padding: 0px;
  transition: transform 0.4s;
}
.drop-down-menu2 {
  flex: 1;
  position: absolute;
  background-color: white;
  top: 100%;
  width: 160px; /* Ensure the drop-down-menu2 inherits the flexbox properties */
  transform: translateY(-100%);
  padding: 0px;
  transition: transform 0.4s;
  align-items: left;
}


.show-drop-down-menu {
  visibility: visible;
  transform: translateY(30%); /* Adjusted transform property */
  opacity: 1;
}
.show-drop-down-menu2 {
  visibility: visible;
  transform: translateY(-6.7%); /* Adjusted transform property */
  opacity: 1;
}

.hide-drop-down-menu {
  transform: translateY(-150%); /* Adjusted transform property */
  opacity: 1;
}
.hide-drop-down-menu2 {
  transform: translateY(-150%); /* Adjusted transform property */
  opacity: 1;
}

.how-to-page-link,
.bridge-list-link,
.log-out-link {
  background-color: #f1f1f1;
  max-width: 160px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border: none;
  cursor: pointer;
  list-style-type: none;
}
.search-link{
  min-width: 474px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border: none;
  cursor: pointer;
  list-style-type: none;
}
.how-to-page-link:hover,
.bridge-list-link:hover,
.log-out-link:hover,
.search-link:hover {
  background-color: rgb(205, 205, 205);
}
.tool-tip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
    margin-left: 18px;
}
.info-button .tool-tip{
  bottom: -15px;
  left: 50px;
}
.hamburger-button .tool-tip{
  bottom: -15px;
  left: -5px;
}
.info-button:hover .tool-tip,
.hamburger-button:hover .tool-tip{
  opacity: 1;
}
.link{
  color: black;
  text-decoration: none;
}

